<%- include('partials/header') %>

<form action="/create" id="formulario-registro" autocomplete="off" method="post" enctype="multipart/form-data">
  <div class="card mt-4">
    <div class="card-header"><strong>Registro de Producto</strong></div>

    <div class="card-body">
      <div class="row g-3">
        <!-- Selección de Categoría -->
        <div class="col-md-6">
          <div class="form-floating">
            <select name="categorias" id="categorias" class="form-select" required>
              <option value="" selected disabled>Seleccione</option>
              <% categorias.forEach(element => { %>
                <option value="<%= element.idcategoria %>"><%= element.categoria %></option>
              <% }) %>
            </select>
            <label for="categorias">Categoría</label>
          </div>
        </div>

        <!-- Nombre del Producto -->
        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" required>
            <label for="nombre">Nombre</label>
          </div>
        </div>
      </div>

      <div class="row g-3">
        <!-- Descripción del Producto -->
        <div class="col-md-12">
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea id="descripcion" name="descripcion" class="form-control" placeholder="Escribe una descripción del producto..." rows="4" required></textarea>
          </div>
        </div>
      </div>

      <div class="row g-3">
        <!-- Precio -->
        <div class="col-md-6">
          <div class="form-floating">
            <input type="number" id="precio" name="precio" class="form-control" placeholder="Precio" required step="0.01">
            <label for="precio">Precio</label>
          </div>
        </div>

        <!-- Stock -->
        <div class="col-md-6">
          <div class="form-floating">
            <input type="number" id="stock" name="stock" class="form-control" placeholder="Stock" required min="1">
            <label for="stock">Stock</label>
          </div>
        </div>
      </div>

      <!-- Imagen del Producto -->
      <div class="mb-3">
        <label for="imagen" class="form-label" >Subir Imagen</label>
        <input type="file" class="form-control" id="imagen" name="imagen" accept="image/png, image/jpeg" required>
        <div class="form-text">
          Tamaño recomendado: 300px × 300px o similar (JPG o PNG). Se ajusta automáticamente sin recortes.
        </div>
      </div>

    </div>

    <div class="card-footer text-end">
      <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
      <a href="/" class="btn btn-sm btn-secondary">Cancelar</a>
    </div>
  </div>
</form>

<%- include('catalogores') %>

<%- include('partials/footer') %>
