<%- include('partials/header') %>

<form action="/edit/<%= producto.idproducto %>" id="formulario-editar" autocomplete="off" method="post" enctype="multipart/form-data">
  <div class="card mt-2">
    <div class="card-header"><strong>Editar Producto</strong></div>

    <div class="card-body">
      <div class="row g-2">
        <div class="col-md-6 mb-2">
          <div class="form-floating">
            <select name="categorias" id="categorias" class="form-select" required>
              <option value="" selected disabled>Seleccione</option>
              <% categorias.forEach(element => { %>
                <option value="<%= element.idcategoria %>" <%= element.idcategoria == producto.idcategoria ? 'selected' : '' %>><%= element.categoria %></option>
              <% }) %>
            </select>
            <label for="categorias">Categoría</label>
          </div>
        </div>

        <div class="col-md-6 mb-2">
          <div class="form-floating">
            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" value="<%= producto.nombre %>" required>
            <label for="nombre">Nombre</label>
          </div>
        </div>
      </div>

      <div class="row g-2">
        <div class="col-md-6 mb-2">
          <div class="form-floating">
            <textarea id="descripcion" name="descripcion" class="form-control" placeholder="Descripción" style="height: 120px;" required><%= producto.descripcion %></textarea>
            <label for="descripcion">Descripción</label>
          </div>
        </div>        

        <div class="col-md-3 mb-2">
          <div class="form-floating">
            <input type="number" id="precio" name="precio" class="form-control" placeholder="Precio" value="<%= producto.precio %>" required step="0.01">
            <label for="precio">Precio</label>
          </div>
        </div>

        <div class="col-md-3 mb-2">
          <div class="form-floating">
            <input type="number" id="stock" name="stock" class="form-control" placeholder="Stock" value="<%= producto.stock %>" required min="1">
            <label for="stock">Stock</label>
          </div>
        </div>
      </div>


      <!-- Mostrar la imagen actual si existe -->
      <div class="form-group">
        <label for="imagen">Imagen del Producto</label>
        <% if (producto.imgurl) { %>
          <div>
            <img src="<%= producto.imgurl %>" alt="Imagen actual" class="img-thumbnail" style="max-width: 200px;">
          </div>
          <div>
            <p>Si deseas cambiar la imagen, selecciona una nueva:</p>
            <input type="file" class="form-control-file" id="imagen" name="imagen">
          </div>
        <% } else { %>
          <div>
            <p>No hay imagen actual, puedes cargar una nueva imagen:</p>
            <input type="file" class="form-control-file" id="imagen" name="imagen">
          </div>
        <% } %>
      </div>

    </div>

    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary">Actualizar</button>
      <a href="/" class="btn btn-sm btn-secondary">Cancelar</a>
    </div>
  </div>
</form>

<%- include('partials/footer') %>
