<%- include('partials/header') %>

<!--Mostrar la lista de Productos en la tabla-->
<div class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>Categoria</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Operaciones</th>
      </tr>
    </thead>
    <tbody>
      <% productos.forEach(producto => { %>
      <tr>
        <td><%= producto.idproducto %></td>
        <td><%= producto.categoria %></td>
        <td><%= producto.nombre %></td>
        <td><%= producto.descripcion %></td>
        <td><%= producto.precio %></td>
        <td><%= producto.stock %></td>
        
        <td>
          <a href="/edit/<%= producto.idproducto %>" class="btn btn-sm btn-info">Editar</a>
          <a href="/delete/<%= producto.idproducto %>" class="btn btn-sm btn-danger delete">Eliminar</a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const enlacesEliminar = document.querySelectorAll(".delete");

    enlacesEliminar.forEach((enlace) => {
      enlace.addEventListener("click", (event) => {
        event.preventDefault();

        Swal.fire({
          title: "Producto",
          text: "¿Está seguro de eliminar?",
          icon: "question",
          footer: "TIENDA ED - productos",
          confirmButtonText: "Aceptar",
          confirmButtonColor: "#2980b9",
          showCancelButton: true,
          cancelButtonText: "Cancelar",
          cancelButtonColor: "#c0392b",
        }).then((result) => {
          if (result.isConfirmed){
            window.location.href = event.target.getAttribute("href")
          }
        }); //then()
        
      }); //addEventListener
    }); //forEach

  }); //DOMContentLoaded
</script>

<%- include('partials/footer') %>
